@model IEnumerable<MovieFusion.Models.User>

@{
    ViewData["Title"] = "Index";
}

<style>
    .index-container {
        margin-top: 20px;
        background-color:white;
    }

    .index-table {
        width: 100%;
        border-collapse: collapse;
    }

        .index-table th,
        .index-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .index-table th {
            background-color: #f2f2f2;
        }

    .index-actions a {
        margin-right: 10px;
    }
</style>

<div class="index-container">
    <h1>Index</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <table class="index-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td class="index-actions">
                        <a asp-action="Edit" asp-route-id="@item.UId" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.UId" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.UId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
