@model MovieFusion.Models.MovieList

@{
    ViewData["Title"] = "Details";
}

<style>
    .details-container {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
       
    }

    .details-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .details-list dt {
        font-weight: bold;
    }

    .details-list dd {
        margin-bottom: 10px;
    }

    .details-actions {
        margin-top: 10px;
    }

        .details-actions a {
            margin-right: 10px;
        }
</style>

<div class="details-container">
    <h1 class="details-title">Details</h1>

    <div class="details-list">
        <h4>MovieList</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Mname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Mname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>
        </dl>
    </div>

    <div class="details-actions">
        <a asp-action="Edit" asp-route-id="@Model?.MId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
